 body {
padding-left: 11em;
font-family: Verdana, "Times", sans-serif;
    color: White;
    background-color: #0a7c9a }
  ul.navbar {
 list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
h1 { font-family: Georgia, Arial, SunSans-Regular, sans-serif; color: black; text-align: center;background: white; padding: 0.5em}
ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black }
  ul.navbar a {
    text-decoration: none }
  a:link {
    color: blue }
  a:visited {
    color: purple }
  address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thick dashed
}